.contact {
    position: relative;

    & .section-bar {
        position: absolute;
        top: 0;
        left: 0;

        &__heading {
            @media screen and (max-width: $medium-screen){
                width: initial;
                text-align: left;
            }
        }
    }

    &-details {
        display: flex;
        width: 50rem;
        margin: 0 auto;
        justify-content: space-between;
        padding: 7.2rem 0 7.8rem;
        font-size: 2rem;

        @media screen and (max-width: $tablet-size) {
            flex-direction: column;
            width: 100%;
            text-align: center;
        }

        & a {
            color: black;
        }

        & p {
            margin: 1rem 0;
        }
    }
    
}