$menu-text-colour: #0F1617;
$menu-hover-colour: #7DA1B1;

$services-color: #365561;
$services-color2: #7da1b1;
$services-color3: #b4bfbe;

$btn-color: #703b42;
$btn-color-hover: #7da1b1;

$btn-color2: #666666;
$btn-color3: #0f1617;

$tile-text-color: #f2f2f2;
$tile-color: #2e526b;

$skills-list-color: #FAFAFA;
$skills-list-color2: #F2F2F2;